* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "IBM Plex Sans", sans-serif;
  color: #7C6A0A;
}

body {
  background-color: #FFEFE7;
}

nav {
  width: 100%;
  min-width: 280px;
  max-width: 1300px;
  margin: 0 auto;
  height: auto;
  display: flex;
  padding: 20px 20px 30px 20px;
  justify-content: space-between;
}
nav p {
  display: inline-block;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.6rem;
  color: #7C6A0A;
}
nav .desktop-display-icons {
  display: none;
}
nav button {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFEFE7;
  border: none;
}
nav button :hover {
  background-color: rgb(226, 218, 218);
}

.main-section {
  width: 100%;
  min-width: 280px;
  max-width: 1300px;
  height: auto;
  margin: 0 auto;
  padding: 0px 20px;
}
.main-section .presentation-article {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 52px 0;
  padding: 0 7px;
}

.image-section {
  width: 100%;
  height: 50vw;
  min-height: 336px;
  max-height: 500px;
  max-width: 400px;
  margin-bottom: 16px;
}
.image-section img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.impact-section {
  width: 100%;
  max-width: 400px;
  display: grid;
}
.impact-section .impact-section__title {
  margin-bottom: 16px;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 3.6rem;
}
.impact-section .impact-section__text {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
  margin-bottom: 16px;
}
.impact-section .impact-section__button {
  justify-self: center;
  width: 150px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(250, 149, 0);
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 13px;
  font-weight: 700;
  line-height: 17px;
}

.product-section {
  width: 100%;
  height: auto;
}
.product-section .product-section__div {
  width: 100%;
  height: auto;
  margin-bottom: 52px;
}
.product-section .product-section__div .product-section__title {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 2.7rem;
  margin-bottom: 24px;
}

.slider-articles {
  height: auto;
  display: flex;
  overflow: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  padding: 0px 20px;
  gap: 40px;
}

.product-article {
  min-width: 178px;
  max-width: 240px;
  height: auto;
  min-height: 250px;
  max-height: 372px;
  padding: 32px 24px;
  box-shadow: 0px 0.54px 5.49px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.product-article .product-article__img {
  width: 100%;
  height: 78%;
  border-radius: 4px;
  margin-bottom: 8px;
}
.product-article .product-article__title {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.8rem;
}
.product-article .product-article__text {
  width: 90%;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.1rem;
}

.product-article_healtcare {
  background-color: #FFDAC6;
}

.product-article_furniture {
  background-color: #BABD8D;
  color: white;
}

.info-section {
  width: 100%;
  height: auto;
}
.info-section .about-us,
.info-section .gallery,
.info-section .location {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}
.info-section .info-section__title {
  display: inline-block;
  width: 100%;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 2.9rem;
  margin-bottom: 40px;
}
.info-section .info-section__title_about-us {
  margin-bottom: 80px;
}

.about-us__container {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: space-around;
  align-items: center;
}

.environment {
  max-width: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.environment .environment-section__logo_earth {
  width: 7.4rem;
  height: 7.4rem;
}
.environment .environment-section__logo_light {
  width: 9.1rem;
  height: 9.1rem;
}
.environment .environment-section__text {
  width: 250px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: rgb(232, 100, 36);
  text-align: center;
}

.gallery .gallery__img-container {
  width: 100%;
  padding-right: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  align-items: center;
}
.gallery .gallery__img-container .gallery__img {
  width: 100%;
  max-width: 296px;
  max-height: 298px;
  height: 300px;
  border-radius: 12px;
}

.location .location__map-container {
  margin-bottom: 32px;
  width: 100%;
  height: 480px;
}
.location .location__map-container .location__map {
  display: block;
  background-image: url("../assets/img/map.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.location .location__build {
  width: 70%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.6rem;
  color: rgb(232, 100, 36);
  margin-bottom: 20px;
}
.location .location__adress {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  color: rgb(232, 100, 36);
}

.footer {
  background-color: #fa9500;
  width: 100%;
  min-width: 280px;
  height: auto;
  padding: 20px 20px;
}
.footer .footer__info-section {
  max-width: 1300px;
  margin: 0 auto;
}
.footer .footer__info-section .footer__title {
  font-size: 2.1rem;
  font-weight: 500;
  line-height: 2.7rem;
  color: white;
  margin-bottom: 20px;
}
.footer .footer__info-section .footer__list {
  list-style: none;
  color: white;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8rem;
}
.footer .footer__info-section .footer__list .footer__list-element {
  margin-bottom: 12px;
}
.footer .footer__icons-section {
  width: 100%;
  margin: 0 auto;
  max-width: 1300px;
  height: auto;
  margin-top: 28px;
  display: flex;
}
.footer .footer__icons-section .footer__icons-container {
  width: 210px;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 640px) {
  html {
    font-size: 70%;
  }
  nav {
    padding-bottom: 50px;
  }
  nav .phone-display-icon {
    display: none;
  }
  nav .desktop-display-icons {
    display: flex;
    justify-content: space-around;
    width: 200px;
  }
  .main-section .presentation-article {
    display: flex;
    justify-content: space-between;
    align-items: normal;
    flex-direction: row-reverse;
    gap: 50px;
  }
  .impact-section {
    text-align: justify;
  }
  .impact-section .impact-section__title {
    align-self: flex-end;
  }
  .impact-section .impact-section__text {
    align-self: center;
  }
  .impact-section .impact-section__button {
    justify-self: normal;
  }
  .product-section .product-section__div .product-section__title {
    margin-bottom: 36px;
  }
  .product-article {
    min-width: 200px;
  }
  .footer .footer__icons-section {
    justify-content: center;
  }
}
@media screen and (min-width: 746px) {
  html {
    font-size: 75%;
  }
  .product-section .product-section__div .product-section__title {
    margin-bottom: 48px;
  }
}
@media screen and (min-width: 912px) {
  .slider-articles {
    max-width: 1024px;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
  }
}/*# sourceMappingURL=main.css.map */