$primary-color:#FFEFE7;
$secundary-color:#FFDAC6;
$tertiary-color:#BABD8D;
$primary-text-color:#7C6A0A;
$font-stackl: 'IBM Plex Sans' , sans-serif; 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: $font-stackl;
}

nav{ 
    background-color: $primary-color;
    width: 100%;
    height: auto;
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
}

nav p{
    display: inline-block;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.6rem;
    color: $primary-text-color;
}

button{
    width: 24px;
    height: 24px;
}

.menu{
    width: 100%;
    height: 100%;
    background-image: "./assets/svg/menu.svg";    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.profile,
.wishlist,
.cart{
    display: none;
}

main{
    background-color: $primary-color;
}

footer{
    $background: #fa9500;
    background-color: $background;
    width: 100%;
    height: auto;
}