$primary-color:#FFEFE7;
$secundary-color:#FFDAC6;
$tertiary-color:#BABD8D;
$primary-text-color:#7C6A0A;
$font-stackl: 'IBM Plex Sans' , sans-serif; 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: $font-stackl;
    color: $primary-text-color;
}

body{
    background-color: $primary-color;
}

.pc-display-icons{
    display: none;
}

nav{ 
    width: 100%;
    min-width: 280px;
    max-width: 1300px;
    margin: 0 auto;
    height: auto;
    display: flex;
    padding: 20px;
    justify-content: space-between;

    p{
        display: inline-block;
        font-size: 2rem;
        font-weight: 400;
        line-height: 2.6rem;
        color: $primary-text-color;
    }

    button{
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary-color;
        border: none;
        :hover{
            background-color: rgb(226, 218, 218);
        }
    }
}

.main-section{ 
    width: 100%;
    min-width: 280px;
    max-width: 1300px;
    height: auto;
    margin: 0 auto;
    padding: 0px 20px;

    .presentation-article{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        gap: 50px;
        margin: 0 0 52px 0;
        padding: 0 7px;
    }
}



.image-section{
    width: 100%;
    height: 100%;
    margin-bottom: 16px;
    
    img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    }
}

.impact-section{
    width: 100%;
    display: grid;
    
    .impact-section__title{
        margin-bottom: 16px;
        font-size: 2.8rem;
        font-weight: 600;
        line-height: 3.6rem;
    }

    .impact-section__text{
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.6rem;
        margin-bottom: 16px;
    }

    .impact-section__button{
        justify-self: center;
        width: 150px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(250, 149, 0, 1);
        border: none;
        border-radius: 20px;
        color: white;
        font-size: 1.3rem;
        font-weight: 700;
        line-height: 1.7rem;
        }
}

.product-section{
    width: 100%;
    height: auto;

    .product-section__div{
        width: 100%;
        height: auto;
        margin-bottom: 52px;

        .product-section__title{
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 2.7rem;
            margin-bottom: 24px;
        }    
    }
}

.slider-articles{
    display: flex;
    overflow: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;      
}

.product-article{
    min-width: 178px;
    min-height: 275px;
    padding: 32px 24px;
    box-shadow: 0px 0.54px 5.49px 0px rgba(0, 0, 0, 0.1);   
    margin: 0 32px 20px 0px;

    .product-article__img{
        width: 100%;
        height: 164px;
        border-radius: 4px;
        margin-bottom: 8px;
    }   

    .product-article__title{
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.8rem;
        
    }

    .product-article__text{
        width: 90%;
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.1rem;
    }
}

.product-article_healtcare{
    background-color: $secundary-color;
}

.product-article_furniture{
    background-color: $tertiary-color;
    color: white;
}

.info-section{
    width: 100%;
    height: auto;

    .about-us,
    .gallery,
    .location{
        width: 100%;
        height: auto;
        margin-bottom: 40px;
    }

    .info-section__title{
        display: inline-block;
        width: 100%;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 2.9rem;
        margin-bottom: 40px;
    }

    .info-section__title_about-us{
        margin-bottom: 80px;
    }
}


.environment{
    width: 50%;
    margin: 0 auto 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .environment-section__logo{
    	margin-bottom: 20px;
    }

    .environment-section__logo_earth{
        width: 74px;
        height: 74px;
    }

    .environment-section__logo_light{
        width: 91px;
        height: 91px;
    }

    
    .environment-section__text{
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.8rem;
        color: rgba(232, 100, 36, 1);
        text-align: center;
    }
}

.gallery{

    .gallery__img-container{
        width: 100%;
        padding-right: 8px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
        align-items: center;

        .gallery__img{
            width: 100%;
            max-width: 296px;
            max-height: 298px;
            height: 300px;
            border-radius: 12px;
        }
    }
}

.location{
    
    .location__map-container{
        margin-bottom: 32px;
        width: 100%;
        height: 480px;


        .location__map{
            width: 100%;
            height: 100%;
            border-radius: 4px;
            
        }
    }

    .location__build{
        width: 70%;
        font-size: 2rem;
        font-weight: 400;
        line-height: 2.6rem;
        color: rgba(232, 100, 36, 1);
        margin-bottom: 20px;
    }

    .location__adress{
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 2rem; 
        color: rgba(232, 100, 36, 1);
    }
    
}

.footer{
    $background: #fa9500;
    background-color: $background;
    width: 100%;
    min-width: 280px;
    height: auto;
    padding: 20px 20px;

    .footer__info-container{
        max-width: 1300px;
        margin: 0 auto;

        .footer__title{
            font-size: 2.1rem;
            font-weight: 500;
            line-height: 2.7rem;
            color: white;
            margin-bottom: 20px;
        }
    
        .footer__list{
            list-style: none;
            color: white;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.8rem; 
    
            .footer__list-element{
                margin-bottom: 12px;
            }
        }
    }

    .footer__icons-container{
        margin: 0 auto;
        width: 210px;
        max-width: 1300px;
        height: auto;
        margin-top: 28px;
        display: flex;
        justify-content: space-between;
    }
}

/*

@media screen and (min-width: 640px) {
    .presentation-article{
        display: flex;
        gap: 50px;
        flex-direction: row-reverse;

        .impact-section{

            .impact-section__button{
                justify-self: normal;
            }

        }
    }

}