@media screen and (min-width: 640px) {
   
    html{
        font-size: 70%;
    }

    nav{
        padding-bottom: 50px;
        
        .phone-display-icon{
            display: none;
        }
    
        .desktop-display-icons{
            @include flexConfing(row, space-around, center);
            width: 200px;
        }
    }

    .main-section{
         .presentation-article{
            @include flexConfing(row-reverse, space-between, normal);
            gap: 50px;
        }
    }


    .impact-section{
        text-align: justify;

        .impact-section__title{
            align-self: flex-end;
        }

        .impact-section__text{
            align-self: center;
        }

        .impact-section__button{
            justify-self: normal;
        }

    }

    .product-section{
        .product-section__div{
            .product-section__title{
                margin-bottom: 36px;
            }
        }
    }

    .product-article{
        @include minMax(200px); /* only min-width */
    }
 
    .footer{
        .footer__icons-section{
            justify-content: center;
        }
    }

}

@media screen and (min-width: 746px) {
    html{
        font-size: 75%;
    }
}
